@import "tailwindcss";

/* TODO: perhaps create a real light mode? */
:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

a:link {
    color: #5886fc;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: #FFDB94;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: #395392;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: #0D408E;
    background-color: transparent;
    text-decoration: underline;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
